.search-main{
    width: 90%;
    background-color: white;
    
}

.search-main .rank{
    width: 90%;
    padding: 10px;
    background-color: rgb(249, 249, 249);
    margin: auto;
    border-radius: 20px;
}

.search-main .rank h2{
    font-size: 24px;
    font-weight: bold;
}

.search-main .rank ul{
    display: flex;
    margin: 20px;
}
.search-main .rank ul li{
    list-style: none;
    margin-right: 20px;
}

.search-main .search-result{
    width: 90%;
    margin: 2% 5%;
    overflow: auto;
    
}
